body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  height: 100vh;
  width: 100vw;
}
.site-navbar{
  .overlay{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
    .navbar-parent {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }
    #a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s;

      :hover :focus{
        color: #f1f1f1;
      }
    }
    // .navbar-Latest{
    //   grid-column: 2;
    //   align-self: end;
    // }
    // .navbar-About{
    //   grid-column: 3;
    //   align-self: end;

    // }
    // .navbar-Posts{
    //   grid-column: 4;
    //   align-self: end;

    // }
    // .mobile-fullscreen-overlay{
    //   grid-column: 5;
    //   align-self: end;
    // }
  }
  .nav-hamburger{
    cursor: pointer;
    font-size: large;
  }
}
